/*
 * Page layout
 */

body {
    background-color: #FFD500; 
}

/*
 * Navigation
 */

nav {
    background-color: transparent;
}

/*
 * Bootstrap navbar
 */

.navbar-custom {
    background-color: #333333; 
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
    /*padding: 0.8rem 1rem;*/
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    /*padding: 1rem 1rem;*/
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #FFD500;
    background-color: #0046AD; /* add background-color to active links */
}

/*
 * Bootstrap Pagination
 */

.pagination > li.page-item {
    background-color: transparent;
    border: 1px solid #FF5800;
    color: #FFD500;
    font-size: 0.75rem;
    /* line-height: 1rem; */
    text-decoration: none;
}

.pagination > li.page-item.active {
    background-color: #0046AD;
    color: #FFD500;
    /*padding: 0.25rem 0.75rem;*/
}

/*
 * HTML 5 main
 */

main {
    background-color: transparent;
}

.container-fluid {
    background-color: transparent;
    /*padding: 0.5rem 0.5rem;*/
}

/*
 * Footer
 */

footer {
    background-color: #333333;
    /*padding: 0.8rem 1rem;*/
}

footer a:link {
    background-color: transparent;
    color: #FFD500;
    text-decoration: none;
}

footer a:active {
    background-color: transparent;
    color: #FFD500;
}

footer a:hover {
    background-color: transparent;
    color: #32CD32;
}

footer a:visited {
    color: #FFD500;
    text-decoration: none;
}

footer p {
    background-color: #333333;
    display: block;
    text-align: left;
    font-size: 0.875rem;
    font-stretch: condensed;
    color: #FFD500;
}

/*
 * Headings
 */

h1, h2, h3, h4 {
    color: #0046AD;
    /* margin-top: 1em; */
    /*margin-bottom: 0.5rem;*/
    text-align: left;
}

/*
 * Paragraphs
 */

p {
    color: #0046AD;
    text-align: justify;
}

/*
 * Links
 * https://www.w3schools.com/css/css_link.asp
 */

a:link {
    background-color: transparent;
    color: #0046AD;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    color: #32CD32;
}

a:active {
    background-color: transparent;
    color: #333333;
}

a:visited {
    background-color: transparent;
    color: #333333;
    text-decoration: none;
}
